<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                <pattern>%d %-5level %-8X{fishtag} %-28logger{0}: %msg%n%throwable</pattern>
                <charset>utf8</charset>
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="com.asi" level="debug" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>